
* {
  box-sizing: border-box;
  font-family: Helvetica neue, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  padding-top: 15px;
}
#canvas1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: black;
  z-index: -2;
}
.body {
  z-index: 2;
  color: white;

  width: 100%;
  margin: 0;
  padding: 0;
}